{% extends "custombase.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}dashboard {{ request.GET.page }}{% endblock %}

{% block head %}
	{{ block.super }}
	<script>		
			jsondata = {% if jsondata %}{{ jsondata|safe }}{% else %}{}{% endif %};
			{% if 'print' in request.build_absolute_uri %}
					var animate= false;
			{% else %}
					var animate= true;
			{% endif %}
	</script>
{% endblock %}

{% block middle %} 
    <nav class="red darken-3 breadcrumb-universal">
        <div class="nav-wrapper">
            <div class="col s12">
				<a href="#" class="breadcrumb">{% trans "Dashboard" %}</a>
                {% block dashboard_breadcrumb %} 
                {% endblock dashboard_breadcrumb %}
            </div>
        </div>
    </nav>
	{{ block.super }}
{% endblock middle %}

{% block isi %}
	{% if dashboard_template %}
		{% include dashboard_template %}
	{% endif %}
{% endblock isi %}
