{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=baseline" class="breadcrumb">{% trans "Baseline" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>
    <div class="row hide">
        <div class="col s6 m4 l3 xl2">
            <div class="card horizontal cyan white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="icon-people_affected_population count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable pop_total %}</span>
                        <p>{% trans "Population" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 xl2">
            <div class="card horizontal green white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="icon-infrastructure_building count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable building_total %}</span>
                        <p>{% trans "Buildings" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 xl2">
            <div class="card horizontal red white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="fa fa-tree count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable area_total %}</span>
                        <p>{% trans "Area" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 xl2">
            <div class="card horizontal amber white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="icon-socioeconomic_urban count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable settlement_total %}</span>
                        <p>{% trans "Settlements" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 offset-l3 xl2">
            <div class="card horizontal deep-purple white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="fa fa-hospital-o count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable healthfacility_total %}</span>
                        <p>{% trans "Health Facilities" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4 l3 xl2">
            <div class="card horizontal blue white-text">
                <div class="card-image valign-wrapper hide-on-small-only">
                    <i class="fa fa-road count-ico"></i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title count-num-dash">{% readable road_total %}</span>
                        <p>{% trans "Road (km)" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 cyan"><i class="icon-people_affected_population"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Population" %}</p>
                    <h5 class="title">{% readable pop_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 green"><i class="icon-infrastructure_building"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Buildings" %}</p>
                    <h5 class="title">{% readable building_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 red"><i class="fa fa-tree"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Area" %}</p>
                    <h5 class="title">{% readable area_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 amber"><i class="icon-socioeconomic_urban"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Settlements" %}</p>
                    <h5 class="title">{% readable settlement_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 offset-l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 deep-purple"><i class="icon-infrastructure_health_facility"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Health Fac." %}</p>
                    <h5 class="title">{% readable healthfacility_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 blue"><i class="fa fa-road"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Road (km)" %}</p>
                    <h5 class="title">{% readable road_total %}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Map" %}
                    </span>
                    <div class="row">
                        <div class="col s12 l3 xl2">
                            <div id="layercontrol">
                                <div class="input-field">
                                    <select id="baselineOpt">
                                        <option value="Population">Total Population</option>
                                        <option value="Buildings">Total Building</option>
                                        <option value="Area">Total Area</option>
                                        <option value="hlt_total">Health Facilities</option>
                                        <option value="road_total">Road Network</option>
                                    </select>
                                    <label for="baselineOpt">Choose Layer :</label>
                                </div>
                                
                                <label for="slideRange">Range :</label>
                                <div id="slideRange">
                                    <div id="keypress"></div>
                                    <br>
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-0" class="">
                                        </div>
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-1" class="">
                                        </div>
                                    </div>
                                </div>

                                <label for="themes">Pick a theme :</label>
                                <div id="themes">
                                    <button class="theme active" data-btn="YlOrRd"></button>
                                    <button class="theme" data-btn="PuRd"></button>
                                    <button class="theme" data-btn="GnBu"></button>
                                    <button class="theme" data-btn="Blues"></button>
                                    <button class="theme" data-btn="BuGn"></button>
                                    <button class="theme" data-btn="BuPu"></button>
                                    <button class="theme" data-btn="Greens"></button>
                                    <button class="theme" data-btn="Greys"></button>
                                    <button class="theme" data-btn="Oranges"></button>
                                    <button class="theme" data-btn="OrRd"></button>
                                    <button class="theme" data-btn="PuBu"></button>
                                    <button class="theme" data-btn="PuBuGn"></button>
                                    <button class="theme" data-btn="Purples"></button>
                                    <button class="theme" data-btn="RdPu"></button>
                                    <button class="theme" data-btn="Reds"></button>
                                    <button class="theme" data-btn="YlGn"></button>
                                    <button class="theme" data-btn="YlGnBu"></button>
                                    <button class="theme" data-btn="YlOrBr"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l9 xl6">
                            <div id="leaflet_baseline_map" class="map-size"></div>
                        </div>
                        <div class="col s12 l12 xl4">
                            <div id="mapInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Population" %}</span>
                    <i class="icon-people_affected_population left"></i>
                    <!-- <span class="card-title right">{% readable pop_total %}</span> -->
                </div>
                <div class="card-image">
                    <!-- <div id="chart_bar_horizontal_pop" class="ch-size"></div> -->
                    <div id="chart_bar_horizontal_pop" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{% trans "Population" %}' data-yaxis='{{ panels.charts.pop_lc.title | jsonify | safe }}' data-val='[{"data":{{ panels.charts.pop_lc.value }}}]' ></div>
                    <!-- <div id="chart_bar_horizontal_pop" class="ch-size bar-chart" data-color="colorBar" data-yaxis='["Water body and Marshland", "Barren land", "Build Up", "Fruit Trees", "Irrigated Agricultural Land", "Snow", "Rainfed", "Rangeland", "Sand Covered Areas", "Vineyards", "Forest & Shrub", "Sand Dunes"]' data-val="[10, 30, 40, 60, 100, 30, 80, 90, 70, 50, 10, 60]" ></div>                     -->
                    <!-- <a href="#" class="btn-floating btn-large halfway-fab waves-effect waves-light red">643.7 K</a> -->
                    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red activator"><i class="material-icons">info</i></a> -->
                </div>
                <!-- <div class="card-content">
                    <span class="card-title">{% trans "Population" %}</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right close">close</i></span>
                </div> -->
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Building" %}</span>
                    <i class="icon-infrastructure_building left"></i>
                    <!-- <span class="card-title right">{% readable building_total %}</span> -->
                </div>
                <div class="card-image">
                    <!-- <div id="chart_bar_horizontal_build" class="ch-size"></div> -->
                    <div id="chart_bar_horizontal_build" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{% trans "Buildings" %}' data-yaxis='{{ panels.charts.building_lc.title | jsonify | safe }}' data-val='[{"data":{{ panels.charts.building_lc.value }}}]' ></div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 offset-m3 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Area" %}</span>
                    <i class="fa fa-tree left"></i>
                    <!-- <span class="card-title right">{% readable area_total %}</span> -->
                </div>
                <div class="card-image">
                    <!-- <div id="chart_bar_horizontal_area" class="ch-size"></div> -->
                    <div id="chart_bar_horizontal_area" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{% trans "Area" %}' data-yaxis='{{ panels.charts.area_lc.title | jsonify | safe }}' data-val='[{"data":{{ panels.charts.area_lc.value }}}]' ></div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Overview of Population and Area" %}
                    </span>
                    <p>{% trans 'An overview of the number of buildings, settlements, populations estimates per land cover as well as the area size per land cover.' %}</p>
                    <div class="table-responsive-scroll">
                        <table class="striped highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="2">{% trans "Region" %}</th>
                                    <th rowspan="2" class="hum" title="{% trans 'Buildings' %}"><i class="fa fa-building"></i></th>
                                    <th rowspan="2" class="hum" title="{% trans 'Settlements' %}"><i class="fa fa-home"></i></th>
                                    <th colspan="2">{% trans "Built-Up" %}</th>
                                    <th colspan="2">{% trans "Cultivated" %}</th>
                                    <th colspan="2">{% trans "Barren/Rangeland" %}</th>
                                    <th colspan="2">{% trans "Total" %}</th>
                                </tr>
                                <tr>
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                    <th class="hum">{% trans "Pop" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.adm_lcgroup_pop_area.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.adm_lcgroup_pop_area.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=baseline&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Health Facilities" %}
                    </span>
                    <p>{% trans 'An overview of which type of health facilities are present: Hospitals: National (H1), Provincial (H2), District (H3). Comprehensive Health Center (CHC), Basic Health Center (BHC), Sub Health Center (SHC)' %}</p>
                    <div class="table-responsive-scroll">
                        <table class="striped highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="2">{% trans "Region" %}</th>
                                    <th colspan="3">{% trans "Tier 1" %}</th>
                                    <th>{% trans "Tier 2" %}</th>
                                    <th colspan="2">{% trans "Tier 3" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Others" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Total" %}</th>
                                </tr>
                                <tr>
                                  <th class="hum">{% trans "H1" %}</th>
                                  <th class="hum">{% trans "H2" %}</th>
                                  <th class="hum">{% trans "H3" %}</th>
                                  <th class="hum">{% trans "CHC" %}</th>
                                  <th class="hum">{% trans "BHC" %}</th>
                                  <th class="hum">{% trans "SHC" %}</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.adm_healthfacility.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.adm_healthfacility.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=baseline&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Health Facilities" %}</span>
                    <i class="icon-infrastructure_health_facility left"></i>
                    <!-- <span class="card-title right">{% readable healthfacility_total %}</span> -->
                </div>
                <div class="card-image">
                    <div id="chart_bar_horizontal_hltfac" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-yaxis='{{ panels.charts.healthfacility.title | jsonify | safe }}' data-val='[{"data":{{ panels.charts.healthfacility.value }}}]' ></div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Road Network" %}
                    </span>
                    <p>{% trans 'An overview of estimated kilometers for each type of road classification' %}</p>
                    <div class="table-responsive-scroll">
                        <table class="striped highlight online">
                            <thead>
                                <tr>
                                    <th>{% trans "Region" %}</th>
                                    <th class="hum">{% trans "Highway" %}</th>
                                    <th class="hum">{% trans "Primary" %}</th>
                                    <th class="hum">{% trans "Secondary" %}</th>
                                    <th class="hum">{% trans "Tertiary" %}</th>
                                    <th class="hum">{% trans "Residential" %}</th>
                                    <th class="hum">{% trans "Track" %}</th>
                                    <th class="hum">{% trans "Path" %}</th>
                                    <!-- <th class="hum">{% trans "River Crossing" %}</th>
                                    <th class="hum">{% trans "Bridge" %}</th> -->
                                    <th class="hum">{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.adm_road.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.adm_road.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=baseline&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Road Network" %}</span>
                    <i class="fa fa-road left"></i>
                    <!-- <span class="card-title right">{% readable road_total %}</span> -->
                </div>
                <div class="card-image">
                    <div id="chart_bar_horizontal_road" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-yaxis='{{ panels.charts.road.title | jsonify | safe }}' data-val='[{"data":{{ panels.charts.road.value }}}]' ></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_script %}
    <script>
        var centroid = boundary['centroid'];
        var chosen_label = '{{parent_label}}';
        var overview_legend = ['{% trans "Population" %}', '{% trans "Area" %}', '{% trans "Building" %}'];
        var total_category = ['{% trans "Health Facilities" %}', '{% trans "Road (km)" %}'];
        // var hlt_category = ['{% trans "H1" %}', '{% trans "H2" %}', '{% trans "H3" %}', '{% trans "CHC" %}', '{% trans "BHC" %}', '{% trans "SHC" %}', '{% trans "Others" %}']
        var hlt_category = panels.charts.healthfacility.title;
    </script>
{% endblock %}
