{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=main" class="breadcrumb">{% trans "Quick Overview" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>

    <div class="row no-margin">
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 cyan"><i class="icon-people_affected_population"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Population" %}</p>
                    <h5 class="title">{% readable pop_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 green"><i class="icon-infrastructure_building"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Buildings" %}</p>
                    <h5 class="title">{% readable building_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 red"><i class="fa fa-tree"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Area" %}</p>
                    <h5 class="title">{% readable area_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 amber"><i class="icon-socioeconomic_urban"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Settlements" %}</p>
                    <h5 class="title">{% readable settlement_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 offset-l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 deep-purple"><i class="icon-infrastructure_health_facility"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Health Fac." %}</p>
                    <h5 class="title">{% readable healthfacility_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 blue"><i class="fa fa-road"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Road (km)" %}</p>
                    <h5 class="title">{% readable road_total %}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Building" %}</span>
                    <i class="icon-infrastructure_building left"></i>
                    <span class="card-title right">{% readable building_total %}</span>
                </div>
                <div class="card-image">
                    <div id="chart_bar_horizontal_build" class="ch-size bar-chart" data-color="colorBar" data-yaxis='{{ panels.charts.building_lc.title | jsonify | safe }}' data-val="{{ panels.charts.building_lc.value }}" ></div>
                </div>
            </div>
        </div>
    
        {% for chart_title, chart_val in panels.charts.items %}
            {% if  chart_title == 'gsmcoverage_pop' %}
                <div class="col s12 m6 xl4">
                    <div class="card card-graph">
                        <div class="card-header red darken-3 white-text z-depth-2">
                            <span class="card-title">{{ chart_val.title }}</span>
                            <i class=" left"></i>
                        </div>
                        <div class="card-image">
                            <div id="{{ chart_title }}" class="ch-size donut-chart" data-color="colorDonut" data-val='{{ chart_val.child | jsonify | safe }}' ></div>
                        </div>
                    </div>
                </div>
            {% endif %}
    
            <div class="col s12 m6 xl4">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ row.1.title }}</span>
                        <i class=" left"></i>
                    </div>
                    <div class="card-image">
                        <div id="{{ row.1.key }}" class="ch-size bar-chart" data-color="colorAccess" data-yaxis='{{ row.1.labels | jsonify | safe }}' data-val="{{ row.1.values }}" ></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Flood Risk Population" %}</span>
                    <i class="icon-people_affected_population left"></i>
                    <span class="card-title right">{% readable panels.pop_depth.total_atrisk %}</span>
                </div>
                <div class="card-image">
                    <div id="chart_pie_frisk_pop" class="ch-size donut-chart" data-color=colorFloodRisk data-val='{{ panels.pop_depth.child | jsonify | safe }}'></div>
                </div>
            </div>
        </div>
    
        <div class="col s12">
            <div class="card card grey lighten-4 z-depth-0">
                <div class="card-tabs" style="margin-bottom: 15px;">
                    <ul id="tabs_swipe_action_detail" class="tabs red darken-3">
                        <li class="tab col s4 release_lock"><a href="#gfms_glofas" class="white-text tab_toggle {% if "GLOFAS + GFMS" in checked or "GLOFAS + GFMS" not in checked and "GLOFAS" not in checked and "GFMS" not in checked %} active {% endif %}">{% trans "GLOFAS + GFMS" %}</a></li>
                        <li class='tab col s4 release_lock'><a href="#glofas" class="white-text tab_toggle {% if "GLOFAS" in checked %} active {% endif %} release_lock">{% trans "GLOFAS" %}</a></li>
                        <li class='tab col s4 release_lock'><a href="#gfms" class="white-text tab_toggle {% if "GFMS" in checked %} active {% endif %} release_lock">{% trans "GFMS" %}</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">
                                    {{ flood_val.title }}
                                </span>
                                <p>{% trans 'Flash Flood Prediction is updated every hour and valid for the next 6 hours. This data is not calibrated and can only be used for rudimentary flood likelihood prediction.' %}</p>
                                <br/>
                                <div class="table-responsive-scroll">
                                    <table id="ffforecast" class="flood-likelihood-color">
                                        <thead>
                                            <tr>
                                                <th colspan="3">{% trans "Likelihood" %}</th>
                                                <th colspan="3">{% trans 'Flood Risk' %}</th>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'Level' %}</th>
                                                <th title="{% trans 'Population' %}"><i class="icon-people_affected_population"></i></th>
                                                <th title="{% trans 'Buildings' %}"><i class="icon-infrastructure_building"></i></th>
                                                <th>{% trans 'Level' %}</th>
                                                <th title="{% trans 'Population' %}"><i class="icon-people_affected_population"></i></th>
                                                <th title="{% trans 'Buildings' %}"><i class="icon-infrastructure_building"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for table_flashflood in flood_val.child %}
                                                <tr>
                                                    <td class="" rowspan="3">{{ table_flashflood.title }}</td>
                                                    <td rowspan="3">{{ table_flashflood.pop }}</td>
                                                    <td rowspan="3" class="">{{ table_flashflood.building }}</td>
                                                    <td class="hi">{{ table_flashflood.depth_child.0.title }}</td>
                                                    <td class="hi_fill">{{ table_flashflood.depth_child.0.pop }}</td>
                                                    <td class="hi_fill">{{ table_flashflood.depth_child.0.building }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="med">{{ table_flashflood.depth_child.1.title }}</td>
                                                    <td class="med_fill">{{ table_flashflood.depth_child.1.pop }}</td>
                                                    <td class="med_fill">{{ table_flashflood.depth_child.1.building }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="lo">{{ table_flashflood.depth_child.2.title }}</td>
                                                    <td class="lo_fill">{{ table_flashflood.depth_child.2.pop }}</td>
                                                    <td class="lo_fill">{{ table_flashflood.depth_child.2.building }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    {% for riverflood_method, riverflood_val in panels.riverflood.items %}
                        <div id="{{ riverflood_method }}" class="">
                            <div class="col s12 l6">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">
                                            {{ riverflood_val.tables.riverflood_likelihood.title }} <small>{{ riverflood_val.key }}</small>
                                        </span>
                                        <p>{{ riverflood_val.tables.riverflood_likelihood.description }}</p>
                                        <br/>
                                        <div class="table-responsive-scroll">
                                            <table id="" class="flood-likelihood-color">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">{% trans "Likelihood" %}</th>
                                                        <th colspan="3">{% trans 'Flood Risk' %}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>{% trans 'Level' %}</th>
                                                        <th title="{% trans 'Population' %}"><i class="icon-people_affected_population"></i></th>
                                                        <th title="{% trans 'Buildings' %}"><i class="icon-infrastructure_building"></i></th>
                                                        <th>{% trans 'Level' %}</th>
                                                        <th title="{% trans 'Population' %}"><i class="icon-people_affected_population"></i></th>
                                                        <th title="{% trans 'Buildings' %}"><i class="icon-infrastructure_building"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for table_floodlikelihood in riverflood_val.tables.riverflood_likelihood.child %}
                                                        <tr>
                                                            <td class="" rowspan="3">{{ table_floodlikelihood.title }}</td>
                                                            <td rowspan="3">{{ table_floodlikelihood.pop }}</td>
                                                            <td rowspan="3" class="">{{ table_floodlikelihood.building }}</td>
                                                            <td class="hi">{{ table_floodlikelihood.depth_child.0.title }}</td>
                                                            <td class="hi_fill">{{ table_floodlikelihood.depth_child.0.pop }}</td>
                                                            <td class="hi_fill">{{ table_floodlikelihood.depth_child.0.building }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="med">{{ table_floodlikelihood.depth_child.1.title }}</td>
                                                            <td class="med_fill">{{ table_floodlikelihood.depth_child.1.pop }}</td>
                                                            <td class="med_fill">{{ table_floodlikelihood.depth_child.1.building }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lo">{{ table_floodlikelihood.depth_child.2.title }}</td>
                                                            <td class="lo_fill">{{ table_floodlikelihood.depth_child.2.pop }}</td>
                                                            <td class="lo_fill">{{ table_floodlikelihood.depth_child.2.building }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="card card-graph">
                                    <div class="card-header red darken-3 white-text z-depth-2">
                                        <span class="card-title">
                                            {{ riverflood_val.charts.riverflood_likelihood.title }} <small>{{ riverflood_val.key }}</small>
                                        </span>
                                    </div>
                                    <div class="card-image">
                                        <div id="chart_bar_stack_fforecast_{{ riverflood_method }}" class="ch-size-fforecast bar-stacked-col-chart" data-color="colorFloodRiskForecast" data-xaxis='["Low", "Medium", "High", "Very High", "Extreme"]' data-val='[{"name": "Low", "data": [2,20,40,20,50]}, {"name": "Moderate", "data": [10,20,40,20,50]}, {"name": "High", "data": [10,20,40,20,50]}]' ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">
                                            {{ riverflood_val.tables.flood_likelihood_overview.title }} <small>{{ riverflood_val.key }}</small>
                                        </span>
                                        <p>{{ riverflood_val.tables.flood_likelihood_overview.description }}</p>
                                        <br/>
                                        <div class="table-responsive-scroll">
                                            <table id="ggfforecast_overview" class="striped highlight flood-overview-color online">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2">{% trans 'Region' %}</th>
                                                        <th colspan="5">{% trans 'Flash Flood' %}</th>
                                                        <th colspan="5">{% trans 'River Flood' %}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="ext hum">{% trans "Extreme" %}</th>
                                                        <th class="vhigh hum">{% trans "Very High" %}</th>
                                                        <th class="high hum">{% trans "High" %}</th>
                                                        <th class="mod hum">{% trans "Moderate" %}</th>
                                                        <th class="low hum">{% trans "Low" %}</th>
                                                        <th class="ext hum">{% trans "Extreme" %}</th>
                                                        <th class="vhigh hum">{% trans "Very High" %}</th>
                                                        <th class="high hum">{% trans "High" %}</th>
                                                        <th class="mod hum">{% trans "Moderate" %}</th>
                                                        <th class="low hum">{% trans "Low" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for parent in riverflood_val.tables.flood_likelihood_overview.parentdata %}
                                                        <td class="boldRow">{{parent}}</td>
                                                    {% endfor %}
                                                    {% for child in riverflood_val.tables.flood_likelihood_overview.child %}
                                                        <tr class="selectable" onclick="window.document.location='?page=floodforecast&code={{child.code}}';">
                                                            {% for item in child.value %}
                                                                <td>{{item}}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Avalanche Risk Population" %}</span>
                    <i class="icon-people_affected_population left"></i>
                    <span class="card-title right">{% readable panels.pop_likelihood.total_atrisk %}</span>
                </div>
                <div class="card-image">
                    <div id="chart_pie_arisk_pop" class="ch-size donut-chart" data-color=colorAvaRisk data-val='{{ panels.pop_likelihood.child | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl6">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{% trans "Avalanche Prediction Population Graph" %}</span>
                    <i class="icon-people_affected_population left"></i>
                    <span class="card-title right">{% readable panels.pop_likelihood.total_atrisk %}</span>
                </div>
                <div class="card-image">
                    <div id="chart_pie_aforecast_pop" class="ch-size donut-chart" data-color=colorFloodRisk data-val='{{ panels.pop_likelihood.child | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{{ chart_val.title }}</span>
                    <i class="left"></i>
                    <span class="card-title right">{% readable chart_val.total %}</span>
                </div>
                <div class="card-image">
                    <div id="{{ chart_title }}_donut" class="ch-size donut-chart" data-color=colorLandslide data-val='{{ chart_val.child | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{{ chart_val.title }}</span>
                    <i class="left"></i>
                    <span class="card-title right">{% readable chart_val.total %}</span>
                </div>
                <div class="card-image">
                    <div id="{{ chart_title }}" class="ch-size donut-chart" data-color=colorEarthquake data-val='{{ chart_val.child | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        
    </div>


{% endblock %}