{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=main" class="breadcrumb">{% trans "Quick Overview" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>

    {% for qov in quickoverview %}
        {% if "row_totals" in qov.templates %}
            {% include qov.templates.row_totals with data=qov.data %}
        {% endif %}
    {% endfor %}
        
    <!-- <div class="row no-margin">
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 cyan"><i class="icon-people_affected_population"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Population" %}</p>
                    <h5 class="title">{% readable pop_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 green"><i class="icon-infrastructure_building"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Buildings" %}</p>
                    <h5 class="title">{% readable building_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 red"><i class="fa fa-tree"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Area" %}</p>
                    <h5 class="title">{% readable area_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 amber"><i class="icon-socioeconomic_urban"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Settlements" %}</p>
                    <h5 class="title">{% readable settlement_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2 offset-l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 deep-purple"><i class="icon-infrastructure_health_facility"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Health Fac." %}</p>
                    <h5 class="title">{% readable healthfacility_total %}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3 xl2">
            <div class="card card-dash card-stats">
                <div class="card-header z-depth-2 blue"><i class="fa fa-road"></i>
                </div>
                <div class="card-content right black-text">
                    <p class="category">{% trans "Road (km)" %}</p>
                    <h5 class="title">{% readable road_total %}</h5>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">

        {% for qov in quickoverview %}
            {% if "panels" in qov.templates %}
                {% include qov.templates.panels with data=qov.data %}
            {% endif %}
        {% endfor %}

    </div>


{% endblock %}